<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Beans definitions -->
    <bean id="Product" class="com.niit.domain.Product">
        <constructor-arg name="ProductId" value="101"/>
        <constructor-arg name="name" value="Taha"/>
        <constructor-arg name="email" value="taha@gmail.com"/>
    </bean>

    <bean id="Product2" class="com.niit.domain.Product">
        <constructor-arg index="0" value="10"/>
        <constructor-arg index="1" value="Taha"/>
        <constructor-arg index="2" value="taha@gmail.com"/>
    </bean>


</beans>